/Relazione_Fabbri_Santoni.aux
/Relazione_Fabbri_Santoni.lof
/Relazione_Fabbri_Santoni.log
/Relazione_Fabbri_Santoni.out
/Relazione_Fabbri_Santoni.pdf
/Relazione_Fabbri_Santoni.synctex.gz
/Relazione_Fabbri_Santoni.toc
